<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="employee" class="com.klef.jfsd.exam.Employee">
        <constructor-arg value="101" />
        <constructor-arg value="John Doe" />
        <constructor-arg value="75000.0" />
        <constructor-arg value="IT" />
        <constructor-arg>
            <list>
                <value>Java</value>
                <value>Spring</value>
                <value>SQL</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="instructor" class="com.klef.jfsd.exam.Instructor">
        <property name="instructorId" value="201" />
        <property name="name" value="Dr. Smith" />
        <property name="email" value="smith@klef.edu" />
        <property name="phoneNumber" value="1234567890" />
    </bean>

    <bean id="course" class="com.klef.jfsd.exam.Course" autowire="byType">
        <property name="courseId" value="501" />
        <property name="courseName" value="Spring Framework" />
        <property name="credits" value="4" />
    </bean>
</beans>